#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP                      0x00000001L

100 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../../../res/melon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "CompanyName", "Melon Factory of Kuribo64"
			VALUE "FileVersion", "1.0.0"
			VALUE "FileDescription", "melonDS DS emulator"
			VALUE "InternalName", "melonDS"
			VALUE "LegalCopyright", "2016-2025 melonDS team"
			VALUE "LegalTrademarks", ""
			VALUE "OriginalFilename", "melonDS.exe"
			VALUE "ProductName", "melonDS"
			VALUE "ProductVersion", "1.0.0"
		}
	}
  BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
} 